
.about-section{
    background-color: white;
    padding-block: 3rem;
}
.about{
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
    align-items: center;
    
  
  

}
.about-left{
    flex-basis: 60%;
    padding: 3rem;
    
  
}
.about-right{
    flex-basis: 40%;
  
}

h1{
   font-size: 30px;
   color: rgb(6, 6, 98);
}
li{
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
li i{
    
    margin-right: 10px;
    font-size: 20px;
    color: rgb(139, 36, 36);
    
   
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    .about-left{
        flex-basis: 100%;
      padding: 0;
    
        
    }
    .about-right{
        flex-basis: 80%;
        
    }

    h1{
        font-size: 30px;
      
        
     }
    
     
     
}