a{
    text-decoration: none;

}
li{
    list-style-type: none;

}




.social div{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social div a i {
    font-size: 25px;
   
}

.social div:hover{
    background-color: rgb(236, 176, 176);
    
}
.social div a i:hover{
    color: red;
}

.footer-end{
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: space-between;
   
}


.items ul li {
margin-bottom: 1rem;
}
.items ul li a {
 color: rgb(183, 182, 182)
 ;
 font-size: 14.5px;
 
}
.items ul li a i{
    margin-right: 0.5rem;
}

.items ul li a:hover{
    color: rgb(181, 28, 28);
}

.footer-top h5{
    margin-top: 1rem;
    padding-left: 2rem;
}


