#ord{width: 50%;height: 500px;border-radius: 20px;margin: 50px 0px 0px 350px;background-color: rgb(229, 241, 241);}


#ord .form-control{width: 250px; padding: 10px 20px;margin-left: 50px;margin-top: 0px;background-color: rgb(240, 235, 228);}
