.survay-form{
  
    background-color: rgb(1, 1, 33);
}


.form{
    
    background-color: rgb(69, 7, 70);
    border-radius: 0.5rem;
    width: 500px;
    height: 600px;
    padding: 2rem;
    color: rgb(148, 148, 148);
    font-size: 20px;
}